* {
  margin: 0;
  padding: 0;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid black;
}

.navbar-img {
  width: 180px;
  margin-left: 600px;
}

.nav-btn {
  background-color: black;
  border-radius: 10px;
  height: 44px;
  color: goldenrod;
  padding: 10px 12px;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
