* {
  margin: 0;
  padding: 0;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid black;
}

.navbar-img {
  width: 180px;
  margin-left: 600px;
}

